html {
    background: #e6e9e9;
    background-image: url("background.jpg");
    background-color: red;
}

header{
    width: 50%;
    margin-bottom: 10px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}
h2{
    text-align: center;
}
table{
    width: 80%;
    margin: auto;
}
.CInfo{
    width: 100%;
}
table, th, td{
    border: 1px solid; 
}
#info{
    width: 50%;
    margin-bottom: 10px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

#abilityScores{
    width: 49%;
    float: left;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    
}
#spells{
    width: 49%;
    float: left;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    
}
#HitPoints{
    width: 49%;
    float: right;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}
#diceTable{
    width: 49%;
    float: right;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}
 
